<div
  class="d-flex justify-content-center align-items-center flex-column h-100 w-100"
>
  <h1 class="mb-5">Login</h1>
  <form
    class="d-flex flex-column justify-content-center"
    (ngSubmit)="login()"
  >
    <mat-form-field>
      <mat-label>Enter API-KEY</mat-label>
      <input
        matInput
        placeholder="5bcxxxxxxxxa54"
        required
        type="text"
        name="apiKey"
        [(ngModel)]="apiKey"
      />
    </mat-form-field>
    <button mat-button type="submit">Login</button>
  </form>
</div>
